@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=New+Amsterdam&family=Sankofa+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "New Amsterdam", sans-serif;
    color: #C7E9FF;
}
.navbar{
    background-color: #080A0B;
    padding-top: 19px;
  }
header nav a{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
  }
.toolbar{
    width: 95%;
    display: flex;
    justify-content: space-around;
}
.animate__animated{
    font-size: 35px;
    background-color: #002250;
}
main{
    background-color: #002250;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item1{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
}
.item2{
    z-index: 1;
    background-color: black;
    padding: 5px;
    margin: 50px;
}
.item3{
    background-color: aliceblue;
    padding: 5px;
}
.item4{
    background-color: black;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
footer{
    background-color: #080A0B;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 15px;
}